################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

obj
bin
.vs
*.nupkg
*.dll
TestResults
*.DotSettings.user
.idea/*
*.user
# CI-generated Flatpak staging tree
packaging/linux/flatpak-staging/
